<div class="Container PY-2 PXx-4 ">
  <div class="Row">

    <div class="Col-12 Col-lg-9 P-1">
      <div class="Card side-left">
        <div class="Card-body h-100">
          <a class="Btn" [routerLink]="'/'"><i class="fas fa-1x fa-caret-left"></i> Back</a>
          <hr>
        </div>
      </div>
    </div>
    <div class="Col-12 Col-lg-7 P-1">
      <q-question-written></q-question-written>
    </div>
    <div class="Col-12 Col-lg-3 p-2 Border Bc-dark">

      ads...

    </div>
  </div>
</div>
